body{
 margin: 0;
 display:flex;
 justify-content:center;
 align-items: center;
 height: 100vh;
 font-family: cursive;
}
.Testi-container{
    height:234px;
    width: 537px;
    border-radius:10px;
    background-color: #6b5acd;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
img{
    height: 100px;
    width: 100px;
    border-radius:50%;
    position: absolute;
    left:40%;
    transform: translateY(-50%);

}
p{
    color: white;
    padding-top: 75px;
    padding-left:20px;
}
h4{
    padding-left: 20px;
    color:white;
}
@media screen and (min-width: 600px) {
   p{
    text-align: center; 
   font-size:10px;
   }
   h4{
    text-align: center;
   }
}
