body {
    background-color:hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.card {
    background-color:hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    padding: 20px;
}

.qr-code img {
    width: 100%;
    border-radius: 10px;
    
}

.card-content {
    margin-top: 20px;
}

.card-content h1 {
    font-family:Outfit;
    font-size: 18px;
    color: hsl(218, 44%, 22%);
    margin: 0 0 10px;
}

.card-content p {
    font-family:Outfit;
    font-size: 13px;
    color:hsl(220, 15%, 55%);
    margin: 0;
}
@media screen and (max-width:375px){
    .card{
        width:100%;
        padding:15px;
    }
    .card h1{
        font-size:20px;
    }
    .card p{
        font-size:15px;
    }

}
@media (min-width: 1440px) {
    .card {
        width: 400px;
        padding: 30px;
    }

    .card-content h1 {
        font-size: 20px;
    }

    .card-content p {
        font-size: 16px;
    }
}
